h2,p{
    color: aqua;
}
body{
    background-color: rgb(8, 45, 48);
    position: relative;
}
#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
}
#scoreText{
    font-family: "Permanent Marker", cursive;
    font-size: 80px;
    color: aqua;
}
#resetBtn{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid grey;
    color: darkblue;
    border-radius: 15px;
    cursor: pointer;
}